body {
    font-family: 'Comfortaa', cursive;
    background-image: url('../img/tile.jpg');
    background-attachment: fixed;
}

h1 {
    text-align: center;
    color: #9573FF;
    font-weight: 600;
    font-size: 56px;
}

.mast img{
    width: 75%;
}

@media(min-width:768px) {
    #mastMobile {
        display:none;
    }
}
@media(max-width:768px) {
    #mastMain {
        display:none;
    }

    .mast img {
        width:100%;
    }

    #spacer {
        display: none;
    }

    #pageTitle {
        margin-top: 20px !important;
    }
}

.text-gray {
    color: #888;
}

.text-red {
    color: #ff3d3d;
}

.sectionheader hr {
    width: 70px;
    border-top: 2px solid #321325;
}

p {
    color: #321325;
}

.pagination {
    clear:both;
}

.post-content {
    margin:auto;
    width: 75%;
}

.error {
    color: #ff0000;
}

.form-input-light {
    background-color: #c2bad8;
    color: #321325;
}
.form-input-light:focus{
    background-color: #b5aec7;
}

.bg-overlay {
    background-color: rgba(208, 200, 228, 0.55);
}

.galleryImage:hover{
    cursor: pointer;
}

/* =========================  CHECKOUT OVERLAY =========================== */
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.877); /* Black background with opacity */
    z-index: 99999; /* Specify a stack order in case you're using a different order for other elements */
    cursor: wait; /* Add a pointer on hover */
}

#overlay p {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#overlay p span {
    font-size: 25px;
}

@media(min-width:768px) {
    .cart-img {
        height: 300px;
        overflow: hidden;
    }
}